$off-white: #f9f4e6;
$light-grey: #888888;
$pink: #86626E;
$black: #000000;
$grey: #A9A9A9;

@mixin style-font($size, $color) {
  font-size: $size;
  font-variant: small-caps;
  color: $color;
}

@mixin display-flex($flex, $column, $center) {
  display: $flex;
  flex-direction: $column;
  justify-content: $center;
}

html {
  max-width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  /* prevents white border around website */
  margin: 0;
  height: 100%;
  overflow: auto;
  background-color: $light-grey;
  max-width: 100%;
  overflow-x: hidden;
}

header {
  background-color: $light-grey;
  height: 5vh;
  padding: 10px 0px 10px 0px;
  display:block;
  vertical-align: middle;
}

header h1 {
  padding: 10px 30px;
  margin: 0;
  display:table-cell;
  @include style-font(2vw, $off-white);
}

footer {
  text-align: center;
  @include style-font(1.2vw, $off-white);
  background: $light-grey;
  padding: 0 0 5px 0;
}

/* -------------------- STYLING NAVBAR ----------------- */

#navbar {
  width: 100%;
  padding: 25px 0px;
  background-color: $pink;
  display: table;
}

/* attach as class to navbar once you move past header */
.fixed-to-top {
  top: 0;          
  position: fixed;
  /* higher z-index will allow navbar to stay in front of everything */
  z-index: 99;
  transition: 0.4s;
}

#navbar-right {
  float: right;
  width: 60%;
  font-variant: small-caps;
  display: table-cell;
}

/* Basic Outline from: https://www.w3schools.com/css/css_navbar.asp */
#navbar a {
	/* using vw allows font size to change instead of wrapping */
	font-size: 2.5vw;
  display: block;
  
  /* center and left align text */
  float: left;
  text-align: center;
  
  /* separates text links so that they're not squished */
  text-decoration: none;
  color: black;
  width: 33.33%;
}

/* change color when hovered over */
#navbar a:hover {
  outline: 1.5px solid black;
  outline-offset: 2px;
  color: $black;
}

/* active section will be highlighted in navbar */
#navbar a.active {
  color: $off-white;
  text-decoration: underline;
}

/* for when screen becomes very narrow */
@media screen and (max-width: 580px) {
  #navbar {
    padding: 20px 10px !important;  }
  #navbar a {
    float: none;
    display: block;
    text-align: left;
  }
}

/* ------------------- MISC -------------------- */

ul {
  display: inline-block;
  text-align: left;
}

.col {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 25%;
  font-variant: small-caps;
  color: $off-white;
}

@media screen and (max-width: 980px) {
  .col {
    display: block;
    float: none;
    width: auto;
  }
}

.col p {
  text-align: center;
}

/* styling the font awesome 
 */
.icon {
  text-align: center;
  font-size: 30px;
  color: $pink;
}

.section-body {
  height: 800px;
  width: 100%;
  background-color: $light-grey;
}

/* ---------------- ARIANA --------------------- */

#ari-page {
  border-bottom: 2px gray solid;
  padding: 10px;
  display: inline-flex;
  align-items: center;
  justify-content:space-evenly;


  background-image: url("assets/breathin.JPG");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#buwygib {
  padding: 20px;
}

#ari-page p {
  @include style-font(3vw, $pink);
  margin: 0;
}

#ari-page ul li {
  color: $pink;
  font-variant: small-caps;
  flex-basis: calc(100% - 20px);
}

#ari-text {
  @include display-flex(flex, column, center);
}

#tracklist-bttn {
  color: $pink;
  font-variant: small-caps;
  width: auto;
  border: 1px solid $pink;
  padding: 5px 5px;
}

#ari-page a:hover {
  outline: 2px solid $off-white;
  background-color: $off-white;
}

.modal {
  display: none;
  position: fixed;
  z-indent: 1;
  top: 0;
  padding-top: 100px;
  padding-left: 50%;
  /* must be 100% so that when you click outside, modal will close */
  width: 100%; 
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.close {
  cursor: pointer;
}

.modal-content {
  border: 10px solid $grey;
  border-radius: 10px;
  background-color: $pink;
  padding: 25px 25px;
  margin: 0;
  color: $off-white;
  width: 50%;
  height: auto;
  font-variant: small-caps;
}

.modal-header {
  border-bottom: 2px solid $grey;
}

.modal-body {
  list-style-position: inside;
  vertical-align:middle; 
  display: inline-block;
  text-align: left;
}

/* ----------------------- BILLIE --------------- */

#billie-page {
  border-bottom: 2px gray solid;
  display: inline-flex;
  align-items: center;
}

#billie-page p {
  @include style-font(3vw, $off-white);
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 0;
}

#billie-content {
  @include display-flex(flex, column, center);
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

#billie-content p {
  @include style-font(3vw, $off-white);
  text-align: center;
  width: 100%;
}

#billie-content ul li {
  color: $off-white;
  font-variant: small-caps;
}

#baf-vid {
  display: flex;
  flex-direction: row
}

/* ------------- BLACKPINK --------------- */

#bp-page {
  overflow: hidden;
  background: black;
  max-width: 455;
  max-height: 810px;
  padding: 10px;
}

.bp-caption {
  font-variant: small-caps;
  color: $off-white;
}

.bp-photos {
  max-width:80%;
  height: auto;
}

.slideshow-container {
  max-width: 1000px;
  margin: auto;
  position: relative;
}

.slides {
  text-align: center;
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  font-weight: bold;
  font-size: 28px;
  user-select: none;
  color: $off-white;
  margin: 0px 10px;
}

/* position arrows across from each other */
.next {
  right: 0;
  padding: 0px 15px 0px 0px;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 0.7s;
  animation-name: fade;
  animation-duration: 0.7s;
}

@-webkit-keyframes fade {
  from {opacity: .5} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .5} 
  to {opacity: 1}
}

/* ------------- BLACKPINK MEMBER INFO ------------- */
#more-page {
  font-size: 1.5vw;
  display: table;
  left: 50%;
  text-align: center;
  padding-bottom: 20px;
  background: black;
}

.more-gifs {
  width: 250px;
  height: auto;
  text-align: center;
}