/* height 100% for html and body + overflow hidden for html + overflow auto to prevent website from "bouncing" when scrolling up */
/* https://stackoverflow.com/questions/32500876/how-to-prevent-white-space-bounce-after-scrolling-to-the-top-of-the-page-and-t */

/* LIGHT PINK: #B75C57 DARK PINK: #DC3D34 BLUE: #334D5C GREY: #282A2A DARK GREY: #232b2b OFFWHITE: f9f4e6*/
/* BP GREY: #5E524B DARK PINK: #ad565a LIGHT PINK: FF91A4 */

html {
  scroll-behavior: smooth;
}

body {
  /* prevents white border around website */
  margin: 0;
  height: 100%;
  overflow: auto;
  background-color: #404040;
  /*position: relative;*/
}

footer {
  text-align: center;
  font-size: 1.2vw;
  font-variant: small-caps;
  color: #f9f4e6;
  background: #404040;
  padding: 0 0 5px 0;
}

#navbar {
  width: 100%;
  /*padding: 0px 0px 0px 0px;*/
  padding: 25px 0px;
  background-color: #86626E;
  
  /* sticks navbar to top and removes any unnecessary borders */
  top: 0;                                                                   /* CHANGE!!!! TO DO! HEADER */
  margin: 0;
  position: fixed;
  /* higher z-index will allow navbar to stay in front of everything */
  z-index: 99;

  transition: 0.4s;
}

ul {
  
  /*list-style-position: inside;*/
  display: inline-block;
  text-align: left;
}

#navbarTitle {
  float: left;
  font-size: 2vw;
  color: #f9f4e6;
  padding: 0 20px;
  font-variant: small-caps;
}

#navbarRight {
  float: right;
  width: 60%;
  font-variant: small-caps;
}

/* Basic Outline from: https://www.w3schools.com/css/css_navbar.asp */
#navbar a {
	/* using vw allows font size to change instead of wrapping */
	font-size: 2vw;
  display: block;
  
  /* center and left align text */
  float: left;
  text-align: center;
  
  /* separates text links so that they're not squished */
  text-decoration: none;
  color: #f9f4e6;
  width: 33.33%;
}

/* Change the link color on hover */
#navbar a:hover {
  outline: 1.5px solid black;
  outline-offset: 2px;
  color: #000000;
}

/* active section will be highlighted in navbar */
#navbar a.active {
  color: #f9f4e6;
  text-decoration: underline;
}

@media screen and (max-width: 580px) {
  #navbar {
    padding: 20px 10px !important; /* Use !important to make sure that JavaScript doesn't override the padding on small screens */
  }
  #navbar a {
    float: none;
    display: block;
    text-align: left;
  }
}

/* ----------------------ABOVE IS NAV BAR STUFF-------------------- */


.col {
  display: table-cell;
  /*display: inline-block;*/
  vertical-align: middle;
  text-align: center;
  font-variant: small-caps;

  /*margin: 0;*/
  width: 25%;
  font-variant: small-caps;
  color: #f9f4e6;
}

@media screen and (max-width: 980px) {
  .col {
    display: block;
    float: none;
    width: auto;
  }
}

.icon {
  text-align: center;
  font-size: 30px;
}

.col p {
  text-align: center;
}

.sectionBody {
  height: 800px;
  width: 100%;
  background-color: #888888;
}

/* ---------------- ARIANA --------------------- */

#ari_page {
  border-bottom: 2px gray solid;
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content:space-evenly;
}

#ari_page p {
  font-size: 3vw;
  font-variant: small-caps;
  color: #f9f4e6;
  margin: 0;
}

#ari_page ul li {
  color: #f9f4e6;
  font-variant: small-caps;
  flex-basis: calc(100% - 20px);
}

#ari_text {
  display: flex;
  flex-direction: columns;
  text-align: center;
}

#tracklistBttn {
  color: #f9f4e6;
  font-variant: small-caps;
  width: auto;
  border: 1px solid #f9f4e6;
  padding: 5px 5px;
}

a:hover {
  outline: 2px solid #86626E;
  background-color: #86626E;
}

.modal {
  display: none;
  position: fixed;
  z-indent: 1;
  top: 0;
  padding-top: 100px;
  padding-left: 50%;
  /* must be 100% so that when you click outside, modal will close */
  width: 100%; 
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.close {
  cursor: pointer;
}

.modal_content {
  border: 10px solid #A9A9A9;
  border-radius: 10px;
  background-color: rgb(134,98,110);
  padding: 25px 25px;
  margin: 0;
  color: #f9f4e6;
  width: 50%;
  height: auto;
  font-variant: small-caps;
}

.modal_header {
  border-bottom: 2px solid #A9A9A9;
}

.modal_body {
  list-style-position: inside;
  vertical-align:middle; 
  display: inline-block;
  text-align: left;
}

/* ----------------------- BILLIE --------------- */

#billie_page {
  border-bottom: 2px gray solid;
  display: inline-flex;
  align-items: center;
}

#billie_page p {
  font-size: 3vw;
  font-variant: small-caps;
  color: #f9f4e6;
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 0;
}

#billie_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

#billie_content p {
  font-size: 3vw;
  font-variant: small-caps;
  color: #f9f4e6;
  text-align: center;
  width: 100%;
}

#billie_content ul li {
  color: #f9f4e6;
  font-variant: small-caps;
}


/* for placing text underneath vid/img https://stackoverflow.com/questions/22420386/ */

#baf_vid {
  display: flex;
  flex-direction: row
  /*padding: 0 80px 0 0;*/
}

/* ------------- BLACKPINK --------------- */

#bp_page {
  border-bottom: 2px gray solid;
  background: black;
}

.bp_caption {
  font-variant: small-caps;
  color: #f9f4e6;
}

.bp_photos {
  width: 30%;
  height: auto;
  margin: 10px 20px 0px 20px;
}

.slideshow_container {
  /*position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;*/
  margin: auto;
  position: relative;
  text-align: center;
}

.slides {
  /*display: none;*/
}

/*.prev, .next {
  cursor: pointer;
  user-select: none;
  color: white;
  font-size: 18px;
  position: relative;
  bottom: 350px;
  
  /*width: auto;
  padding: 3vh;
  
  
  position: absolute;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}*/

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  /*margin-top: -22px;
  padding: 16px;*/
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/*.next {
  right: 0;
  border-radius: 0px 0 0 0px;
}*/

#more_page {
  border-top: 2px gray solid;
  font-size: 1.5vw;
  display: table;
  left: 50%;
  text-align: center;
  padding-bottom: 20px;
}

.more_gifs {
  width: 250px;
  height: auto;
  text-align: center;
}